@import '../../../assets/styles/vars';

.App__header {
    height: 55px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky; 
    top: 0;

    background-color: darken($white, 5%);
    z-index: 1;
    box-shadow: 0px -5px 11px gray;

    @media (max-width: 576px) {
        height: 45px;
    }
}

.App__icon {
    height: 25px;
    width: 25px;
}
