@import '../../../assets/styles/vars';

.big-photo-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    margin-top: 13px;

    @media (max-width: 576px) {
        padding: 0 7px;
    }

    &_horizontal {
        padding: 0 15px;

        @media (max-width: 576px) {
            padding: 0 7px;
        }
    }
}

.big-photo-info__author-link {
    color: $black;
    font-size: 26px;

    font-weight: 700;

    transition: all .1s linear;

    flex-grow: 1;

    &:hover {
        color: $red;
        text-decoration: none;
    }

    @media (max-width: 576px) {
        font-size: 21px;
    }
}

.big-photo-info__date {
    flex-basis: 100%;

    margin-top: 4px;
    
    font-size: 14px;
    font-weight: 300;

    color: $gray;
}