.big-likes-count {
    display: flex;
    align-items: flex-end;

}

@import '../../../assets/styles/vars';

.big-likes-count__text {
    margin-right: 7px;
    font-size: 21px;

    @media (max-width: 576px) {
        font-size: 18px;
        margin-right: 4px;
    }
}

.big-likes-count__like-button {
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.big-likes-count__icon {
    width: 35px;
    height: 35px;

    &_active {
        fill: $red;
    }

    @media (max-width: 576px) {
        width: 25px;
        height: 25px;
    }
}

