@import '../../assets/styles/vars';

.App {
    overflow: hidden;
    position: relative;

    width: 780px;
    height: 95vh;

    border-radius: 10px;
    background-color: $white;
    border-radius: 10px;

    margin-top: 20px;

    @media (max-width: 576px) {
        margin-top: 0;

        height: 100vh;

        border-radius: 0;
    }
}

.App-container {
    display: flex;
    justify-content: center;

    @media (max-width: 576px) {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
}

