.photo-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 18px 25px 0px;

    @media (max-width: 576px) {
        padding: 12px 8px 0px;
    }
}

.photo-card__img {
    border-radius: 10px;
    
    width: 100%;

    box-shadow: 2px 3px 10px gray;
}
