.big-photo-card {
    display: flex;
    flex-direction: column;

    &_vertical {
        width: 60%;

        @media (max-width: 1200px) {
            width: 80%;
        }

        @media (max-width: 768px) {
            width: 80%;
        }

        @media (max-width: 576px) {
            width: 100%;
        }
    }
}

.big-photo {
    width: 100%;
}
