@import '../../../assets/styles/vars';

.App__header {
    height: 55px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky; 
    top: 0;

    background-color: darken($white, 5%);
    z-index: 1;
    box-shadow: 0px -5px 11px gray;
}

.undo-button-link {
    position: absolute;
    left: 20px;

    width: 45px;
    height: 45px;
}

.undo-button {
    border: none;
    border-radius: 50%;
    background-color: transparent;

    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    

    transition: all .1s linear;
    &:hover {
        background-color:darken($white, 9%);
    }

    &:focus {
        outline: none;
        background-color: transparent;
    }

    &:active {
        outline: none;
        background-color:darken($white, 16%);
    }
}

.undo-button__icon {
    position: absolute;
    left: -3px;
    width: 60px;
    height: 60px; 
    border-top: 10px solid $black;
    border-right: 10px solid  $black;
    margin-right: -40px;
    transform:  scale(0.3) rotate(230deg);
}